
.card__container {
    box-shadow: 0 0 2px 2px #68676763;
    border-radius: 16px;
    padding: 16px;
    background: #eee;
    color: #111;
    width: 200px;
    strong {
        text-align: end;
        display: block;
    }
    &:hover {
        box-shadow: 0 0 4px 4px #68676763;
        background: rgb(199, 252, 234);
        cursor: pointer;
    }
}
